/* ===============================
   Author: ProtossProbe
   Date:   July 15, 2016

   Notes:
   Landing page for ProtossProbe

   Colour Palette:
   ---------------
   Probe Blue:      #1B9FFB
   Probe Yellow:    #FBD734
   =============================== */


/* General */

body {
    margin: 0;
    font-family: Verdana, "Segoe UI", Geneva, Tahoma, sans-serif, "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei";
}

.outer {
    position: relative;
    height: 100vh;
    width: 100%;
}

.middle {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.name {
    color: #E72C2C;
    font-size: 80px;
    font-weight: bold;
}

.number {
    font-size: 100px;
}

#search {
    border: none;
    outline: none;
    padding: 8px;
    width: 100%;
    cursor: text;
    caret-color: #E72C2C;
    color: rgba(0, 0, 0, 0.2);
    font-size: 80px;
    text-align: left;
    margin-left: 0;
}

::placeholder {
    color: rgba(0, 0, 0, 0.1);
}

::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.1);
}

:-moz-placeholder {
    color: rgba(0, 0, 0, 0.1);
}

::-moz-placeholder {
    color: rgba(0, 0, 0, 0.1);
}

:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.1);
}

:focus::placeholder {
    color: transparent;
}

:focus::-webkit-input-placeholder {
    color: transparent;
}

:focus:-moz-placeholder {
    color: transparent;
}

:focus::-moz-placeholder {
    color: transparent;
}

:focus:-ms-input-placeholder {
    color: transparent;
}

::-webkit-scrollbar {
    display: none;
}
